.mainNav {
  display: flex;
  background-color: #222222;
  align-items: center;
  justify-content: space-between;
  .logout {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-right: 2em;
  }
}
.mainNav ul {
  color: white;
  display: flex;
  gap: 1.6rem;
  padding: 2.4rem 0;
  align-items: center;
}
.topNav {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  gap: 1.4rem;
  padding: 0.4rem 1.2rem;
}

.logo {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  margin-top: -1em;
  transform: rotate(45deg);
  margin-left: 2em;
  .orange,
  .blue {
    width: 1.6em;
    height: 2.2em;
    border-radius: 0.15rem 0.15rem 0.15rem 0.4rem;
  }

  .orange {
    border-left: 0.7em solid #f2994a;
    border-bottom: 0.7em solid #f2994a;
  }
  .blue {
    border-left: 0.7em solid #2d9cdb;
    border-bottom: 0.7em solid #2d9cdb;
    transform: rotate(180deg);
    position: absolute;
    top: 0.4em;
    margin-left: 0.4em;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  color: white;
  padding: 3.2rem;
  width: 100%;
  .logo {
    margin-top: 1rem;
    margin-left: -1rem;
  }

  p {
    margin-top: 2.4rem;
  }
}
